<p> 
  You've been invited 
  <%= @current_user.present? ? "by #{@current_user.first_name} #{@current_user.last_name}" : "" %> 
  <%= @organization.present? ? "to join #{@organization}\'s team on" : "to" %> 
  the Voce app. Use the link below to confirm and set your password.
</p>
<p>
  <%= link_to 'Set your password', "#{ENV['CLIENT_URL']}/new-password/?token=#{@token}" %>
</p>
<p> 
  Your account won't be created until you complete the steps using the link above.
</p>
<p> 
  Welcome to Voce! 
</p> 

