<p> Hello there!</p>
<% if controller.action_name == "signup" %>
<p> An account has been created for you in Family Design. You can create your password through the link below.</p>
	<p><%= link_to 'Set my password', "#{ENV['CLIENT_URL']}/new-password/?token=#{@token}" %></p>
	<p> If you didn't want to register, please ignore this email.</p>
	<p> Your password won't be created until you access the link above. </p>
<% else %>
<p> You requested to change your password. You can do this through the link below.</p>
	<p><%= link_to 'Change my password', "#{ENV['CLIENT_URL']}/new-password/?token=#{@token}" %></p>
	<p> If you didn't request this, please ignore this email.</p>
	<p> Your password won't change until you access the link above and create a new one. </p>
<% end %>

